.tabs {
  display: flex;
  flex-shrink: none;
}

.tab {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  text-align: center;
  background-color: rgb(32, 32, 32);
  height: 35px;
  color: white;
  border: none;
  transition: background-color 0.3s;
}

.tab:hover {
  cursor: pointer;
}

.tab.selected {
  background-color: rgb(20, 20, 20);
}

.notepadContainer {
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 750px;
  background-color: rgb(44, 44, 44);
}

.notepad {
  width: 100%;
  flex: 1;
  background-color: rgb(44, 44, 44);
  font-family: "Roboto", sans-serif;
  padding: 10px;
  outline: none;
  color: white;
  border: none;
  resize: none;
}
